user_uuid="e6e5af89-5da8-4fa1-a9f1-2f7d0a40a0f4"
bucket_name = "e6e5af89-5da8-4fa1-a9f1-2f7d0a40a0f4"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"